.container {
  margin-block: 30px;
}
.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}
.avatarContainer > .userName {
  margin-left: 5px;
}
